extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#firstName.form-control(type='text', placeholder='First name (Christian)' name='firstName' required='true' value=(undefined===author ? '' : author.firstName))   
      label(for='family_name') Family Name:
      input#lastName.form-control(type='text', placeholder='Family name (Surname)' name='lastName' required='true' value=(undefined===author ? '' : author.lastName))
    div.form-group
      label(for='dateOfBirth') Date of birth:
      input#dateOfBirth.form-control(type='date', name='dateOfBirth' value=(undefined===author ? '' : author.dateOfBirth_dd_mm_yyyy) )
    div.form-group
      label(for='dateOfDeath') Date of death:
      input#dateOfDeath.form-control(type='date', name='dateOfDeath' value=(undefined===author ? '' : author.dateOfDeath_dd_mm_yyyy) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg